* {
   
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;  
  box-sizing: border-box;    
}
.flex{
  display: flex;  
}



section, header, footer{
  width: 1400px;
  margin: auto;
  
  
}
main{
  width: 100%;
}
section{
  position: relative;
}

html,
body {
  height: 100%;
  color: #000000; 
  margin: 0;
}
.greyTitle{
  color: #86878B;   
  line-height: 1.36rem;
}
.black{
  color: #212121;
}
.white{
  color: #ffffff;
}
h3{
  font-weight: 700;
  font-size: 1.43rem;
  font-style: normal;
  line-height: 1.9rem;
  
}
h2{font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 3rem;
  
  margin: 0%;

}
                                                          /* хедер */                                         
header{
    background-color:  #000000;    
    padding: 1.4rem 0;
      
    position: relative;
        
    margin: 0 auto;
    
    display: flex; 
    justify-content: space-between;
    align-items: center;    
}

a{
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
}

.header{  
  width: 50%;
 }
 .headerIcon{
   padding: 0 7.9rem;
 }

 .nav{
   display: flex;
   justify-content: space-around;
   padding: 0 110px;
   flex-wrap: wrap;
 }
 
                                                      /* section AXIT */
section.AXIT{
  position: relative;  
  justify-content: space-between;
  background-image: url(./PICTERS//background-1\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  
     
  padding: 100px; 
  color: #ffffff;
}

  
section.AXIT:after {
  content:   ''; 
  background-color:  rgba(0, 0, 0, 0.65);
  width: 1400px;
  height: 622.4px;
  top: 0rem;
  left: 0rem;      
  position: absolute;
}

.axitImg{
  top: 7.9rem;
  left: 8rem;
  
  position: absolute;
}
.axitTitle{
  width: 38.9rem;
  height: 7.1rem;
  top: 15.1rem;
  left: 8rem;
  margin: 0;
  position: absolute;
}
.axitTitle::after{
  content:   ''; 
  background-color: #ffffff; 
  width: 4.6rem;
  height: 0.2rem;
  position: absolute;
  top: 9.4rem;  
}
.axitP{
  position: absolute;
  left: 8rem;
  top: 27.2rem;
  height: 2.7rem;
  width: 20.1rem;
  color:rgb(255, 255, 255, 0.8);
  }

.titleP{
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.35rem;  
  
  margin: 0;
}
button.butDln{
  width: 9.6rem;
  height: 3rem;
  left: 8rem;
  position: absolute;
  top: 32.7rem;
  color: #ffffff;
  border: .1rem solid #FFFFFF;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  font-size: 1.1rem;
  font-weight: 600;

}
.blockAxit2{
  
  flex-direction: column;
  width: 26.4rem;
  height: 26.4rem;
  background-color: #FFFFFF;
  border-radius: 0.6rem;    
  position: relative;     
  letter-spacing: 0.1rem;/*Расстояние между буквами */
  
}
.nameForm {
    width: 26.4rem;
    height: 4rem;
    font-weight: bold;
    font-size: 1.42rem;
    line-height: 1.9rem;
    text-align: center;
   color: black;
}
.form_input {
  height: 2.2rem;
  border: none;
  border-bottom: 0.1rem solid gray;
  margin-bottom: 1.4rem;
  margin-left: 4.2rem;
  width: 18rem;
}
.start{
  text-align: center;
  border: 0.1rem solid rgba(236, 121, 121, 1);
  font-size: 1.1rem;
  background-color: rgba(236, 121, 121, 1);
  color: white;
  border-radius: 0 0 .6rem 0.6rem;
  margin-top: 5.2rem;
  padding: 1.2rem 0;
  margin-bottom: 0;
}
.upP{
  z-index: 1;
}

                                            /* section Social */

section.social{
  background-color: #F8EFEF;
  justify-content: space-between;
  padding: 1rem 7.9rem;
  align-items: center;
  }
.sutitle3{
  margin-bottom: 1rem;
  margin-top: 0;

}
.socialTitle{
  width: 365px;
}



                                                  /* section tabs */

section.tabs{
  justify-content: space-between;
  height: 26.8rem;
  padding: 100px 100px 20px 100px;
  padding-bottom: 8.9rem;
  position: relative;
  height: 600px;
}
div.tabs__tab{
  width: auto;
  height: auto;
  margin-top: 15px;
}
.tabs__tab__title{
width: 112px;
height: 110px;
border-radius: .3rem;  
font-weight: bold;
font-size: 1.1rem;
line-height: 1.4rem;
display: flex;
align-items: center;
padding-left: 35px;
text-transform: uppercase;
color: #FFFFFF;
    
  margin: 0.7rem 0;
}
.pink{
  border: 0.1rem solid #EC7979;
  background: #EC7979;
}
.black{
  border: 0.1rem solid #333333;
  background: #333333;

}
div.tabsBlock{
  justify-content: space-between;
}
.tabs__textBlock__text__text{
  text-transform: uppercase;
}

.tabs__textBlock{
  
  top: 1.9rem;
  width: 40.9rem;
  left: 24.4rem;
  top: 7.9rem;
 
}
h3.tabs__textBlock__sutitle{
  margin-top: 26px;
  margin-bottom: 58px;
}

.tabs__textBlock__button{
  position: absolute;
  margin-top: 61px;
  width: 9.6rem;
  height: 3rem;
  background: #EC7979;
  border: 0.1rem solid #FFFFFF;
  box-sizing: border-box;
}
.tabs__img{
  width: 23.2rem;
  height: 18.1rem;
}

                                                      
                                                     /* Секция 1 */
section.titleOne{
  padding: 80px 110px 110px;
}
.titleOne__titleBoss { 
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 3rem;
  text-align: center;
  margin: 0%; 
   
}

.titleOne__titleBoss:after {
  content:   ''; 
  background-color: #E72424; 
  width: 4.6rem;
  height: 0.14rem;
  position: absolute;
  top: 156px;
  transform: translate(-64%);
  left: 50%;
      
  }
  
.subtitle{
  margin-top: 4.1rem;  
  margin-bottom: 0rem;
  text-align: center;
  }


                                                  /* карточки */
.tiles-wrapper{
  display: flex;
  justify-content: space-around;
  text-align: center;
  

}
.tile_container{
  margin-top: 4.8rem;
  width: 25rem;
  height: 16.1rem; 
   
}
.tile_image {
  border: 0.1rem solid #E72424;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: auto;
}  

.icon{
  margin-top: 30%;
}
.tile_description{
  font-weight: 700;
  font-size: 1.4rem;
  font-style: normal;
  margin-top: 2.1rem;
}

.signature{
  margin-left: 20px;
  margin-top: 1.1rem;  
  text-align: center;
  line-height: 1.4rem;
  width: 350px
  
}
                                  /* section PRICE */
.price{
  background-color: #F5F5F5;
  
  padding: 80px 100px 58px 100px;
  height: 820px;
}
 .price__titleBoss{
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 3rem;
  text-align: center;
  margin: 0%; 
}

.price__titleBoss:after {
  content:   ''; 
  background-color: #E72424; 
  width: 4.6rem;
  height: .2rem;
  position: absolute;
  top: 11.1rem;
  transform: translate(-64%);
  left: 50%;
}

p.price__title{
  margin-top: 5rem;
  text-align: center;
}
.price__card{
  justify-content: space-between;
  margin: 0;
  position: relative;
  top: 4.4rem;
  height: 550px;
}
.price__card__prices{
  height: 33.4rem;
  text-align: center;
  margin: 0;
}
.price__card__title{  
  background-color: #333333;
  width: 340px;
  height: 50px;
  border: 0.1rem solid #F5F5F5;
  padding: 0px; 
  padding-top: 10px;  
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}
.price__card__prices__namber{
  background-color: #333333;
  width: 340px;
  height: 100px;  
  border: 0.1rem solid #F5F5F5;  
  padding-top: 24px; 
  font-family: Raleway; 
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.9rem;  
  list-style-type: none;
  
  
}
.price__card__prices__text{
  background-color: #333333;
  width: 340px;
  height: 50px;
  border: 0.1rem solid #F5F5F5;
  padding: 0px; 
  padding-top: 12px;  
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  list-style-type: none;
}
.price__card__prices__input{
  background-color: #FFFFFF;
  width: 340px;
  height: 50px;
  margin: 0;
  border: 0.1rem solid #F5F5F5;
  color: #ffffff;
  padding: 1rem 0 0; 
  
}
.price__card__prices__input__input{
  width: 340px;
  height: 40px;
  padding-top: 5px;
  background-color: #fff;
  border: 0.1rem solid #F5F5F5;
  text-align: center;
  list-style-type: none;

}
div.center{
 position: absolute;
 top: -15px;
 left: 431px;
}

                        /* --fedback-- */
section.feedback{
  padding: 80px 110px 120px;
}
h2.feedback__titleBoss{
  text-align: center;

}
h2.feedback__titleBoss:after {
  content:   ''; 
  background-color: #E72424; 
  width: 4.6rem;
  height: .2rem;
  position: absolute;
  top: 11.1rem;
  transform: translate(-64%);
  left: 50%;
}

.feedback__text{
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 0;
}
.feedback__icones{ 
  padding-top: 4.8rem;
  justify-content: space-between;
}
.feedback__icones__card__text{
  height: 110px;
  width: 300px;
  background-color: #E2E2E2;
  border-radius: .5rem;
  padding: 0 1rem;
  text-align: center;
  padding-top: 1px;
}
.feedback__icones__card__manager{
  justify-content: space-around;
  
}
p.manager{
  margin: 0px;
  margin-left: 28px;
}

   
                          /* <section class="titleThree"> */
.titleThree{
  position: relative;
  background-image: url(PICTERS/town.png);
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 326px;
    
  padding: 0;   
 
}
  
.up{
  position: absolute;
  color: #ffffff;
  z-index: 1;
}
h2.titleBoss{
  position: absolute;
  left: 50%;
  top: 58px;  
  transform: translate(-50%);
}
h2.titleBoss:after {
  content:   ''; 
  background-color:  #ffffff; 
  width: 4.6rem;
  height: .2rem;
  margin-top: 76px;
  margin-left: -17.35rem;      
  position: absolute;
}
.titleUp{
  top: 170px;
  width: 850px;
  left: 50%;
  transform: translate(-50%);
  font-style: normal;
  color: rgb(255, 255, 255, 0.8);
  font-size: 1.1rem;
  line-height: 1.4rem;
  text-align: center;
  vertical-align: top;  
}
button.downloadButton{
  width: 9.6rem;
  height: 3rem;
  top: 246px;
  left: 50%;
  transform: translate(-50%);
  border: .1rem solid #FFFFFF;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  font-size: 1.1rem;
  font-weight: 600;
}
.titleThree:after {
  content:   ''; 
  background-color:  rgba(0, 0, 0, 0.65);
  width: 1400px; 
  height: 326px;
  top: 0rem;
  left: 0rem;      
  position: absolute;
  
}
                          /* section CONTACT */

section.contact{
height: 710px;

padding: 80px 110px 44px;
}


.contact__titleBoss{
     
  transform: translate(38%);
}
.contact__titleBoss:after {
  content:   ''; 
  background-color:  #E72424; 
  width: 4.6rem;
  position: absolute;
  height: 0.14rem;
  left: 11%;
  top: 5.7rem;
  transform: translate(-50%);
  
}
.contact__text{
  transform: translate(33%);
  margin: 0;
  margin-top: 70px;
  margin-bottom: 40px;
}
div.contact__input{
  justify-content: space-between;  
  
  
}
.contact__input__form{
 
  top: 18.3rem;
  height: 21rem;
  width: 34.2rem;
  
}
.contact__input__form__input{
  width: 34.2rem;
  height: 6.9rem;
  border: none;
  border-bottom: 1px solid #BDBDBD;  

}
.contact__input__messge{
  margin-top: 37px;
}

.message_textarea {
      width: 478px;
      height: 240px;
      resize: none;
      border: none;
      border-bottom: 1px solid #BDBDBD;}
  

  button.contact__button{   
    position: absolute; 
      width: 9.6rem;
      height: 3rem;
      top: 630px;
      left: 50%;
  
      transform: translate(-50%);
      background: #EC7979;
      border: .1rem solid #FFFFFF;
      box-sizing : border-box;
      font-size: 1.1rem;
      font-weight: 600;
     }

     
  
 





                                /* FOOTER */
footer{
  background-color: #000000;
  position: relative;
  height: 7.21rem;
  top: auto;      
  margin: 0 auto;
 
}
.futerPanel{
  position: absolute; 
  left: 540px;
  top: 30px;
}

.footerText{
  position: absolute;
  top: 71px;
  left: 635px;  
}